.cadProd{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.cadProd label {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.cadProd input{
    display: flex;
    padding: 0.5rem;
    max-width: 380px;
    width: 500px;
    margin-bottom: 1.1rem;
    border-radius: 5px;
    font-size: 14px;
    outline-color: #90ee90;
}

.btn-addProd{
    font-size: 16px;
    color: white;
    background-color: #00D222;
    width: 130px;
    height: 40px;
    border-radius: 0.3rem;
    border: none;
    cursor: pointer;
}

.btn-cad{
    text-decoration: none;
    margin-bottom: 20px;
}

.btn-addProd:hover{
    background-color: #00bb1f;
}
