.gestaoProdutos{
    margin-left: 5px;
    margin-right: 5px;
}
.gestaoProdutos .tabelaItens{
    width: auto;
    margin-bottom: 1rem;
}

.gestaoProdutos .tabelaItens th{
    text-align: center;
    padding: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
}
.gestaoProdutos .tabelaItens td{
    text-align: center;
    padding: 0.5rem;
}

.gestaoProdutos #BtnInserirItens{
    background-color: green;
    width: 165px;
    height: 45px;
    text-transform: none;
    margin-bottom: 1rem;
}

.gestaoProdutos .icones{
    display: flex;
    border: none;
    gap: 0.5rem;
    cursor: pointer;
} 

@media only screen and (max-width: 768px) {
    .gestaoProdutos .icones{
        width: 30px;
        margin-right: -5px;
        gap: 0.5rem;
        flex-direction: column;
    } 
    .gestaoProdutos .tabelaItens td{
        text-align: center;
        padding: 0.5rem;
    }

    .gestaoProdutos .tabelaItens th{
        padding-right: 0.9rem;     
    }

    .gestaoProdutos #BtnInserirItens{
        width: 145px;
        height: 35px;
        font-size: 0.9rem;
    }
}