*{
    color: #000000;
    margin:0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 20px;    
    align-items: center;   
    justify-content: center;  
    background: linear-gradient(to bottom, #6495ED, #ffffff) no-repeat;
    background-size: cover;
    animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.selection {
position: fixed;
top: 0;
left: 0;
width: 100%;
background-color: #ffffff;
}

.selection span{
  padding: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.menu-sanduiche {
  cursor: pointer;
  display: none; /* Inicialmente oculto em telas maiores */
}

.barra-menu {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}

.links {
  display: flex;
  gap: 20px; 
}

/* Mostra o menu-sanduiche em telas menores
@media screen and (max-width: 768px) {
  .menu-sanduiche {
    display: block;
  }

  .links {
    display: ${menuAberto ? 'flex' : 'none'};
    flex-direction: column;
    position: absolute;
    top: 60px; /
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    padding: 10px;
  }
} */
